.jumbotron {
	margin-bottom: 0;
	padding-bottom: 0;
}

.jumbotronMain {
	background-attachment: relative;
	background-image: url(../images/banner-bg.jpg);
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 450px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainH1 {
	margin-top: 100px;
	color: white;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}

.mainH2 {
	color: white;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.jumbotronPageHeader {
    background-color:#5281A1;
    color:#E7F2F9;
    height: 100%;
    vertical-align: center;
}

.quoteAuthor {
	font-size: 60%;
	color: white;
}

.containerMain {
	margin-top: -50px;
}