@import 'susy/language/susy';

$susy: (
  columns: 12,
  math: fluid,
);

/* Variables */
$sans: 'Open Sans', sans-serif;
$serif: 'Playfair Display', serif;
$base-font-size: 16px;

$text-dark: #6d6d6d;
$text-light: #ffffff;

$theme-primary: #5281A1;
$theme-inverse: #ffffff;

$nav-background: #ffffff;

$hero-color: rgba(90, 169, 206, 0.7);
$footer-color: #1f2c37;
//$section-color: #dfdfdf;
$section-color: #fff;

$telegraph-color: #2299A1;
$investment-color: #50C58F;
$banking-color: #2A607F;
$pandapay-color: #DF755E;
$drinksy-color: #EEA80D;
$concept-color: #2299A1;
$kounta-color: #F2EDEB;
$delivering-color: #00aaa7;
$stripe-color: #f0f0f0;

$xs-breakpoint: 320px;
$s-breakpoint: 425px;
$m-breakpoint: 768px;
$l-breakpoint: 1024px;
$xl-breakpoint: 1440px;

$default-padding: 16px;
$box-shadow: 0 2px 10px 0 rgba(0,0,0,0.20);

/* Mixins */
@mixin component-padding() {
	padding-left: $default-padding;
	padding-right: $default-padding;
}

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: $sans;
	margin: 0;
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: $serif;
	font-weight: 400;
	font-size: 48px;
	line-height: 50px;

	&.large {
		font-size: 58px;
		line-height: 60px;
	}
}
h2 {
	font-family: $serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	border-bottom: 1px solid;
	display: table;
	padding-bottom: 7px;
}

p {
	font-size: 18px;
	line-height: 28px;
}

a {
	font-size: 18px;
	line-height: 28px;
	color: $text-light;
	&.dark {
		color: $text-dark;
	}
}

.logo {
	width: 24px;
	height: 24px;
}

nav {
	background-color: $nav-background;
	position: fixed;
	width: 100%;
	z-index: 9;
	border-bottom: 0.5px solid #ddd;

	#menu-toggle {
		display: none;
	}

	#menu-toggle:checked + .navbar-menu {
		display: block;
	}

	.navbar-header {
		display: flex;
		justify-content: space-between;
		padding: 8px 8px 8px 8px;

		a {
			color: $text-dark;
			font-size: 20px;
			line-height: 30px;
			text-decoration: none;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				margin-right: 8px;
			}
		}
	}

	.navbar-menu {
		display: none;
		margin: 0;
		padding: 10px;
		list-style: none;
		text-align: center;

		li a {
			text-decoration: none;
			color: $text-dark;
		}
	}

	.navbar-toggle {
		cursor: pointer;
		background-color: transparent;
		border: 0;
		&:focus {
			outline: 0;
		}
		.bar {
			display: block;
			width: 28px;
			height: 4px;
			background-color: $text-dark;
		}
		.bar+.bar {
			margin-top: 4px;
		}
	}
}

@media screen and (min-width: 550px) {
	nav {
		.content {
			@include container($l-breakpoint);
			display: flex;
			justify-content: space-between;
		}
		.navbar-toggle {
			display: none;
		}
		.navbar-menu {
			display: flex !important;;
			flex-direction: row;
			order: 3;

			li+li {
				margin-left: 20px;
			}
		}
	}
}

/************* INTRO ******************/
#intro {
	background:
	linear-gradient($hero-color, $hero-color),
	url("../images/background-1.jpg");

	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px 50px;
	padding-bottom: 30px;

	a {
		color: $text-light;
		font-size: 24px;
		line-height: 32px;
	}

	.content {
		@include component-padding();
		padding-top: 80px;
		color: $text-light;

		h1 {
			margin-bottom: 0px;
		}

		p {
			font-size: 24px;
			line-height: 32px;

			&.lead {
				margin-top: 8px;
				font-size: 24px;
				line-height: 32px;
			}
		}
	}
}

@media screen and (min-width: $m-breakpoint) {
	#intro {
		background-size: cover;
		.content {
			@include span(isolate 6 at 7);

		}
	}
}

@media screen and (min-width: $l-breakpoint) {
	#intro {
		background-position: 0px 0px;
		.content {
			@include span(isolate 5 at 6);
		}
	}
}

@media screen and (min-width: $xl-breakpoint) {
	#intro {
		background-position: top 0px left 0px;
		height: 500px;

		.content {
			padding-top: 120px;
			vertical-align: center
		}
	}
}

/************* BACKGROUND ******************/
#background {
	@include component-padding();
	color: $text-dark;
	padding-bottom: 30px;

	a {
		color: $text-dark;
	}

	.content {
		@include container($l-breakpoint - 100);

		&.lead {
			padding-top: 50px;
		}
	}

	h1 {
		text-align: center;
	}
}

.articles {
	clear: both;

	a {
		text-decoration: none;
	}

	h2 {
		font-size: 18px;
		line-height: 24px;
	}

	p {
		font-size: 16px;
		line-height: 24px;
	}

	.card {
		padding: 16px;
	}
	display: grid;
	grid-template-rows: auto;
	grid-row-gap: 16px;

	@media screen and (min-width: $m-breakpoint) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 24px;
	}
}

/************* PROJECTS ******************/
.portfolio-intro {
	@include component-padding();
	padding-top: 5px;
	padding-bottom: 16px;
	background-color: $section-color;

	.content {
		@include container($l-breakpoint - 100);

		h1 {
			text-align: center;
			color: $text-dark;
		}
	}
}

button {
	cursor: pointer;
	font-family: $sans;
	font-size: $base-font-size;
	padding: 5px 20px;
	color: $text-dark;
	background: transparent;
	border: 1px solid $text-dark;
	outline: none !important;
	border-radius: 0;
	transition: opacity .2s ease-out;

	&:hover {
		opacity: 0.8;
	}
}

.card {
	background-color: #ffffff;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.10);

	img {
		width: 100%;
	}

	&.small {
		width: 50%;
		margin: auto;
	}

}

.project {
	color: $text-dark;
	@include component-padding();
	padding-top: 10px;
	padding-bottom: 30px;

	a {
		color: $text-dark;
	}

	img {
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	.details {
		display: none;
	}

	.content {
		display: block;
		@media screen and (min-width: $m-breakpoint) {
			display: flex;
			@include container(700px);
			.project-image {
				@include span(5);
				padding-top: 32px;
			}
			.project-info{
				@include span(7);
			}
		}
		@media screen and (min-width: $l-breakpoint) {
			display: flex;
			@include container($l-breakpoint);

			.project-image {
				@include span(5);
				margin: 0 auto;
			}
			.project-info{
				@include component-padding();
				@include span(7);
			}
		}
	}

	&:nth-child(even){
		background-color: $stripe-color;

		@media screen and (min-width: $m-breakpoint) {
			.project-image {
				order: 2;
			}
			.project-info{
				order: 1;
			}
		}
	}
}

#dribbble {
	.content {
		@include container($l-breakpoint);
	}

	.gallery {
		padding: 16px;
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-row-gap: 24px;

		img {
			width: 100%;
		}

		@media screen and (min-width: $m-breakpoint) {
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(12, auto);
			grid-column-gap: 32px;
			grid-row-gap: 32px;

			.one {
				grid-column: 1 / 7;
				grid-row: 1 / 7;
			}

			.two {
				grid-column: 8 / 12;
				grid-row: 2 / 5;
			}

			.three {
				grid-column: 7 / 11;
				grid-row: 5 / 12;
			}
		}
	}
}

/************* CONTACTS ******************/
#contact {
	@include component-padding();
	padding-bottom: 30px;
	background-color: black;
	color: $text-light;
	text-align: center;

	.social-links {
		display: flex;
		margin: auto;
		padding: 0 0 16px 0;
		list-style: none;
		align-items: center;
		justify-content: center;

		li {
			a {
				background-color: $theme-primary;
				border-radius: 50%;
				padding: 10px;
				font-size: 21px;
				color: $theme-inverse;
				transition: all .3s ease-out;

				&:hover {
					color: $theme-primary;
					background-color: $theme-inverse;
				}
			}
		}
		li+li {
			margin-left: 8px;
		}
	}
}

@media screen and (min-width: $m-breakpoint) {
	#contact {
		background: 
			url("../images/background-3.png");
		background-size: cover;	
		background-repeat: no-repeat;
	}
}

@media screen and (min-width: $l-breakpoint) {
	#contact {
		height: 300px;
	}
}

/************* FOOTER ******************/
footer {
	background-color: $footer-color;
	border-top: 7px solid $theme-primary;

	img {
		display: block;
		margin: 0 auto;
		margin-top: 1.6rem;
		margin-bottom: 1.6rem;
	}
}

/************* CASE STUDY ******************/

.words {
	margin-bottom: 16px;
	@media screen and (min-width: $m-breakpoint){
		@include span(10);
		@include push(1);
	}
}

.caseStudy {
	background: #F8F8F8;
	color: $text-dark;
	padding: 32px 0;

	h1 {
		font-family: $serif;
		font-size: 48px;
		line-height: 56px;

		@media screen and (max-width: $m-breakpoint){
			font-size: 32px;
			line-height: 48px;
		}
	}

	h2 {
		margin-top: 24px;
		margin-bottom: 24px;
	}

	a {
		color: $text-dark;
	}
	.innerContent {
		@include component-padding();
	}
	.content {
		@include container($l-breakpoint - 100);

		&.lead {
			padding-top: 50px;
		}
	}

	img {
		width: 100%;
	}

	.sideBySide {
		clear: both;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 16px;
	}

	.centred {
		text-align: center;
	}

	.caption {
		font-size: 12px;
		line-height: 16px;
		margin-top: 0px;
		margin-bottom: 16px;

		@media screen and (min-width: $m-breakpoint){
			font-size: 16px;
			line-height: 24px;
		}
	}	

	&.hero {
		text-align: center;
		padding-top: 64px;

		&.telegraph {
			h1 {
				color: white;
				margin-bottom: 0;
			}
			img {
				@include span(8);
				@include push(2);

				@media screen and (min-width: $xl-breakpoint){
					@include span(6);
					@include push(3);
				}
			}
			background-color: $telegraph-color;
		}

		&.delivering {
			h1 {
				color: white;
				margin-bottom: 24px;
			}
			img {
				@include span(4);
				@include push(4);
			}
			background-color: $delivering-color;
		}

		&.kounta {
			h1 {
				margin-bottom: 24px;
			}
			img {
				@include span(8);
				@include push(2);

				@media screen and (min-width: $xl-breakpoint){
					@include span(6);
					@include push(3);
				}
			}
			background-color: $kounta-color;
		}
	}
}