html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

section {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto; }
  section:after {
    content: " ";
    display: block;
    clear: both; }

.hero {
  width: 49.15254%;
  float: left;
  margin-left: 25.42373%;
  margin-right: -100%; }
