/* Variables */
/* Mixins */
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column; }

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 50px; }
  h1.large {
    font-size: 58px;
    line-height: 60px; }

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  border-bottom: 1px solid;
  display: table;
  padding-bottom: 7px; }

p {
  font-size: 18px;
  line-height: 28px; }

a {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff; }
  a.dark {
    color: #6d6d6d; }

.logo {
  width: 24px;
  height: 24px; }

nav {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 9;
  border-bottom: 0.5px solid #ddd; }
  nav #menu-toggle {
    display: none; }
  nav #menu-toggle:checked + .navbar-menu {
    display: block; }
  nav .navbar-header {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 8px 8px; }
    nav .navbar-header a {
      color: #6d6d6d;
      font-size: 20px;
      line-height: 30px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center; }
      nav .navbar-header a img {
        margin-right: 8px; }
  nav .navbar-menu {
    display: none;
    margin: 0;
    padding: 10px;
    list-style: none;
    text-align: center; }
    nav .navbar-menu li a {
      text-decoration: none;
      color: #6d6d6d; }
  nav .navbar-toggle {
    cursor: pointer;
    background-color: transparent;
    border: 0; }
    nav .navbar-toggle:focus {
      outline: 0; }
    nav .navbar-toggle .bar {
      display: block;
      width: 28px;
      height: 4px;
      background-color: #6d6d6d; }
    nav .navbar-toggle .bar + .bar {
      margin-top: 4px; }

@media screen and (min-width: 550px) {
  nav .content {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between; }
    nav .content:after {
      content: " ";
      display: block;
      clear: both; }
  nav .navbar-toggle {
    display: none; }
  nav .navbar-menu {
    display: flex !important;
    flex-direction: row;
    order: 3; }
    nav .navbar-menu li + li {
      margin-left: 20px; } }

/************* INTRO ******************/
#intro {
  background: linear-gradient(rgba(90, 169, 206, 0.7), rgba(90, 169, 206, 0.7)), url("../images/background-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 50px;
  padding-bottom: 30px; }
  #intro a {
    color: #ffffff;
    font-size: 24px;
    line-height: 32px; }
  #intro .content {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 80px;
    color: #ffffff; }
    #intro .content h1 {
      margin-bottom: 0px; }
    #intro .content p {
      font-size: 24px;
      line-height: 32px; }
      #intro .content p.lead {
        margin-top: 8px;
        font-size: 24px;
        line-height: 32px; }

@media screen and (min-width: 768px) {
  #intro {
    background-size: cover; }
    #intro .content {
      width: 49.15254%;
      float: left;
      margin-left: 50.84746%;
      margin-right: -100%; } }

@media screen and (min-width: 1024px) {
  #intro {
    background-position: 0px 0px; }
    #intro .content {
      width: 40.67797%;
      float: left;
      margin-left: 42.37288%;
      margin-right: -100%; } }

@media screen and (min-width: 1440px) {
  #intro {
    background-position: top 0px left 0px;
    height: 500px; }
    #intro .content {
      padding-top: 120px;
      vertical-align: center; } }

/************* BACKGROUND ******************/
#background {
  padding-left: 16px;
  padding-right: 16px;
  color: #6d6d6d;
  padding-bottom: 30px; }
  #background a {
    color: #6d6d6d; }
  #background .content {
    max-width: 924px;
    margin-left: auto;
    margin-right: auto; }
    #background .content:after {
      content: " ";
      display: block;
      clear: both; }
    #background .content.lead {
      padding-top: 50px; }
  #background h1 {
    text-align: center; }

.articles {
  clear: both;
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 16px; }
  .articles a {
    text-decoration: none; }
  .articles h2 {
    font-size: 18px;
    line-height: 24px; }
  .articles p {
    font-size: 16px;
    line-height: 24px; }
  .articles .card {
    padding: 16px; }
  @media screen and (min-width: 768px) {
    .articles {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 24px; } }

/************* PROJECTS ******************/
.portfolio-intro {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 16px;
  background-color: #fff; }
  .portfolio-intro .content {
    max-width: 924px;
    margin-left: auto;
    margin-right: auto; }
    .portfolio-intro .content:after {
      content: " ";
      display: block;
      clear: both; }
    .portfolio-intro .content h1 {
      text-align: center;
      color: #6d6d6d; }

button {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 5px 20px;
  color: #6d6d6d;
  background: transparent;
  border: 1px solid #6d6d6d;
  outline: none !important;
  border-radius: 0;
  transition: opacity .2s ease-out; }
  button:hover {
    opacity: 0.8; }

.card {
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1); }
  .card img {
    width: 100%; }
  .card.small {
    width: 50%;
    margin: auto; }

.project {
  color: #6d6d6d;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 30px; }
  .project a {
    color: #6d6d6d; }
  .project img {
    display: block;
    width: 100%;
    margin: 0 auto; }
  .project .details {
    display: none; }
  .project .content {
    display: block; }
    @media screen and (min-width: 768px) {
      .project .content {
        display: flex;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto; }
        .project .content:after {
          content: " ";
          display: block;
          clear: both; }
        .project .content .project-image {
          width: 40.67797%;
          float: left;
          margin-right: 1.69492%;
          padding-top: 32px; }
        .project .content .project-info {
          width: 57.62712%;
          float: left;
          margin-right: 1.69492%; } }
    @media screen and (min-width: 1024px) {
      .project .content {
        display: flex;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto; }
        .project .content:after {
          content: " ";
          display: block;
          clear: both; }
        .project .content .project-image {
          width: 40.67797%;
          float: left;
          margin-right: 1.69492%;
          margin: 0 auto; }
        .project .content .project-info {
          padding-left: 16px;
          padding-right: 16px;
          width: 57.62712%;
          float: left;
          margin-right: 1.69492%; } }
  .project:nth-child(even) {
    background-color: #f0f0f0; }
    @media screen and (min-width: 768px) {
      .project:nth-child(even) .project-image {
        order: 2; }
      .project:nth-child(even) .project-info {
        order: 1; } }

#dribbble .content {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }
  #dribbble .content:after {
    content: " ";
    display: block;
    clear: both; }

#dribbble .gallery {
  padding: 16px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 24px; }
  #dribbble .gallery img {
    width: 100%; }
  @media screen and (min-width: 768px) {
    #dribbble .gallery {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, auto);
      grid-column-gap: 32px;
      grid-row-gap: 32px; }
      #dribbble .gallery .one {
        grid-column: 1 / 7;
        grid-row: 1 / 7; }
      #dribbble .gallery .two {
        grid-column: 8 / 12;
        grid-row: 2 / 5; }
      #dribbble .gallery .three {
        grid-column: 7 / 11;
        grid-row: 5 / 12; } }

/************* CONTACTS ******************/
#contact {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 30px;
  background-color: black;
  color: #ffffff;
  text-align: center; }
  #contact .social-links {
    display: flex;
    margin: auto;
    padding: 0 0 16px 0;
    list-style: none;
    align-items: center;
    justify-content: center; }
    #contact .social-links li a {
      background-color: #5281A1;
      border-radius: 50%;
      padding: 10px;
      font-size: 21px;
      color: #ffffff;
      transition: all .3s ease-out; }
      #contact .social-links li a:hover {
        color: #5281A1;
        background-color: #ffffff; }
    #contact .social-links li + li {
      margin-left: 8px; }

@media screen and (min-width: 768px) {
  #contact {
    background: url("../images/background-3.png");
    background-size: cover;
    background-repeat: no-repeat; } }

@media screen and (min-width: 1024px) {
  #contact {
    height: 300px; } }

/************* FOOTER ******************/
footer {
  background-color: #1f2c37;
  border-top: 7px solid #5281A1; }
  footer img {
    display: block;
    margin: 0 auto;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem; }

/************* CASE STUDY ******************/
.words {
  margin-bottom: 16px; }
  @media screen and (min-width: 768px) {
    .words {
      width: 83.05085%;
      float: left;
      margin-right: 1.69492%;
      margin-left: 8.47458%; } }

.caseStudy {
  background: #F8F8F8;
  color: #6d6d6d;
  padding: 32px 0; }
  .caseStudy h1 {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    line-height: 56px; }
    @media screen and (max-width: 768px) {
      .caseStudy h1 {
        font-size: 32px;
        line-height: 48px; } }
  .caseStudy h2 {
    margin-top: 24px;
    margin-bottom: 24px; }
  .caseStudy a {
    color: #6d6d6d; }
  .caseStudy .innerContent {
    padding-left: 16px;
    padding-right: 16px; }
  .caseStudy .content {
    max-width: 924px;
    margin-left: auto;
    margin-right: auto; }
    .caseStudy .content:after {
      content: " ";
      display: block;
      clear: both; }
    .caseStudy .content.lead {
      padding-top: 50px; }
  .caseStudy img {
    width: 100%; }
  .caseStudy .sideBySide {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px; }
  .caseStudy .centred {
    text-align: center; }
  .caseStudy .caption {
    font-size: 12px;
    line-height: 16px;
    margin-top: 0px;
    margin-bottom: 16px; }
    @media screen and (min-width: 768px) {
      .caseStudy .caption {
        font-size: 16px;
        line-height: 24px; } }
  .caseStudy.hero {
    text-align: center;
    padding-top: 64px; }
    .caseStudy.hero.telegraph {
      background-color: #2299A1; }
      .caseStudy.hero.telegraph h1 {
        color: white;
        margin-bottom: 0; }
      .caseStudy.hero.telegraph img {
        width: 66.10169%;
        float: left;
        margin-right: 1.69492%;
        margin-left: 16.94915%; }
        @media screen and (min-width: 1440px) {
          .caseStudy.hero.telegraph img {
            width: 49.15254%;
            float: left;
            margin-right: 1.69492%;
            margin-left: 25.42373%; } }
    .caseStudy.hero.delivering {
      background-color: #00aaa7; }
      .caseStudy.hero.delivering h1 {
        color: white;
        margin-bottom: 24px; }
      .caseStudy.hero.delivering img {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%;
        margin-left: 33.89831%; }
    .caseStudy.hero.kounta {
      background-color: #F2EDEB; }
      .caseStudy.hero.kounta h1 {
        margin-bottom: 24px; }
      .caseStudy.hero.kounta img {
        width: 66.10169%;
        float: left;
        margin-right: 1.69492%;
        margin-left: 16.94915%; }
        @media screen and (min-width: 1440px) {
          .caseStudy.hero.kounta img {
            width: 49.15254%;
            float: left;
            margin-right: 1.69492%;
            margin-left: 25.42373%; } }
